src/*.exe
src/give2
src/give2d
src/test_give2
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.sdcoin
#compilation and Qt preprocessor part
*.qm
Makefile
givecoin-qt
Givecoin-Qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
